.element__like {
    margin-right: 0;
    max-width: 22px;
    min-height: 19px;
    width: 100%;
    border: none;
    padding: 0;
    cursor: pointer;
    background-image: url(../../../images/like.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    align-self: center;
    box-sizing: border-box;
    background-color: #fff;
    opacity: 1;
    transition: opacity .4s ease;
}

.element__like:hover {
    opacity: 0.5;
}