.popup {
    display: flex;
    background-color: rgba (0, 0, 0 0.5) ;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
    width: 100%;
  height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
}

.popup__container {
    max-width: 430px;
min-height: 330px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    background-color: #fff;
box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
border-radius: 10px;
box-sizing: border-box;
padding: 32px 36px 36px;
margin: 0 auto;
}

@media screen and (max-width: 560px) {
    .popup__container {
      max-width: 240px;
      min-height: 258px;
      padding: 30px 16px;
    }
  }

.popup__title {
    margin: 0 0 46px;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 29px;
color: #000000;
}
@media screen and (max-width: 560px) {
    .popup__title {
      font-size: 16px;
      margin: 0 0 36px;
    }
  }
  .popup__input {
    display: block;
    border: 0;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    margin: 30px 0 2px 0;
    color: #000;
    font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  }

  @media screen and (max-width: 560px) {
    .popup__input {
      margin-top: 20px;
      font-size: 12px;
    }
  }

.popup__name {
    margin: 54px 36px 43px 36px;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #000000;
border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__interest {
    margin: 0 36px 61px 36px;
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #000000;
border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__close-button {
    position: absolute;
width: 32px;
height: 32px;
right: -42px;
  top: -45px;
background: #FFFFFF;
cursor: pointer;
border: none;
padding: 0;
transition: opacity .3s ease-in;
}

@media screen and (max-width: 560px) {
    .popup__close-button {
      width: 30px;
      height: 30px;
      right: -26px;
      top: -26px;
    }
  }

.popup__close-button:before {
    position: absolute;
    content: '';
    height: 32px;
top: 0;
transform: rotate(45deg);
}

.popup__close-button:after {
    position: absolute;
    content: '';
    height: 32px;
top: 0;
transform: rotate(-45deg);
}

.popup__save-button {
    max-width: 358px;
    min-height: 50px;
    background-color: #000;
    border: none;
    border-radius: 2px;
    padding: 0;
    margin: 46px 0 0;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #FFFFFF;
    transition: background-color .3s ease;
    box-sizing: border-box;
  }
  
  .popup__save-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0.6;
    cursor: pointer;
  }
  
 /* .popup__save-button:focus {
    outline: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  }*/
  
  
  @media screen and (max-width:560px) {
    .popup__save-button {
      font-size: 14px;
      min-height: 40px;
      margin: 36px 0 0;
    }
  }

  .popup_opened {
    visibility: visible;
    opacity: 1;
  }
  
  .popup__close {
    position: absolute;
    right: -42px;
    top: -45px;
    background-color: transparent;
    border: none;
    padding: 0;
    background-image: url(../images/close-button.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 50px;
    min-height: 50px;
    transition: opacity .3s ease;
  }
  
  .popup__close:hover {
    cursor: pointer;
    opacity: .6;
  }
  
  /*.popup__close:focus {
    outline: none;
    border: 1px solid #fff;
    border-radius: 2px;
  }*/
  
  @media screen and (max-width: 560px) {
    .popup__close {
      width: 30px;
      height: 30px;
      right: -26px;
      top: -26px;
    }
  }
