.header {
    max-width: 880px;
    padding: 0;
    border-bottom: 1px solid #545454;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
} 

@media screen and (max-width: 560px) {
    .header {
        max-width: 320px;
        margin: 0;  
    }
}

.header__logo {
    max-width: 142px;
    margin: 45px auto 41px 0;
    padding: 0 auto auto 0;
}

@media screen and (max-width: 560px) {
    .header__logo {
        max-width: 103.74px;
        margin: 28px auto 31px 27px;  
    }
}

@media screen and (max-width: 900px) {
    .header__logo {
        max-width: 103.74px;
        margin: 28px auto 31px 27px;  
    }
}