.elements {
    max-width: 880px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    gap: 20px 17px;
    justify-content: center;
    margin: 0 auto;
    padding: 50px 0 0 0;
    
}

@media screen and (max-width: 560px) {
    .elements {
        max-width: 282px;
        padding: 36px 19px 0;
        
    }
}

.element__item {
    max-width: 100%;
    width: 100%;
    border-radius: 10px;
    background: #FFFFFF;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.element__image {
    display: block;
    max-width: 282px;
    max-height: 282px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.element__under {
    margin: 25px 15px 31px 21px;
    padding: 0;
}

.element__caption {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 21px;
}

.element__under-image {
    margin-right: 0;
    max-width: 22px;
    border: none;
    padding: 0;
    background-image: url(../../images/heart.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: opacity .3s ease-in;
  align-self: flex-start;
}

.element__like:hover {
    opacity: 0.6;
    cursor: pointer;
  }
  
